.container {
    border: 1px solid grey;
    background-color: lightgrey;
    border-radius: 0.7rem;
    width: 10rem;
    padding: 0.7rem;
}

.image {
    width: 9rem;
    border-radius: 999999rem;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    /* width: 2rem; */
}

.buttonContainer button {
    background-color: rgb(190, 36, 18);
    color: white;
    border: 0px;
    border-radius: 999999rem;
    width: 1.8rem;
    height: 1.8rem;
}

.dataContainer {
    text-align: center;
    padding: 1rem;
}

.dataContainer h2 {
    margin: 2px;
    font-size: 1rem;
    color: darkslategray;
}